---
import CarritoProducto from "./CarritoProducto.astro";
const { pagina } = Astro.props;

//console.log("LA PAGINA ES "+pagina)
---

<div class="hidden tipoPagina" id="pagina"></div>

<div
  x-data="carritoProductoAlpine"
  @open-carrito-menu.window="refreshCarrito"
  x-init="$watch('carrito', (valor, valorAntiguo) => { subirCarrito(); })



"
>
  <template x-for="producto in carrito">
    <CarritoProducto pagina=`${pagina}` />
  </template>
</div>

<script>
  interface InterfazCarrito {
    cantidad: number;
    cantidadMaxima: number;
    color: string;
    imagen: string;
    precio: number;
    talla: string;
    nombre: string;
    id: string;
    idUnica: number;
  }

  import Alpine from "alpinejs";

  const stored = localStorage.getItem("carrito");
  let carrito;
  if (stored != null) {
    carrito = JSON.parse(stored);
  }

  Alpine.store("carritoCheckout", carrito);

  let carritoProductoAlpine = {
    carrito: carrito,
    pagina: "carrito",

    refreshCarrito() {
      const stored = localStorage.getItem("carrito");
      this.carrito = stored ? JSON.parse(stored) : [];
    },
    removeFromCarrito(producto: InterfazCarrito) {
      this.carrito = this.carrito.filter(
        (item: InterfazCarrito) =>
          !(
            item.id === producto.id &&
            item.talla === producto.talla &&
            item.color === producto.color
          ),
      );
      localStorage.setItem("carrito", JSON.stringify(this.carrito));
    },
    subirCarrito() {
      localStorage.setItem("carrito", JSON.stringify(this.carrito));
    },
    getProducto(idProducto: Number) {
      let producto = this.carrito.find((e: InterfazCarrito) => {
        return e.idUnica == idProducto;
      });
      return producto;
    },

    aumentarCantidad(idProducto: Number) {
      let producto = this.getProducto(idProducto);

      if (producto.cantidad < producto.cantidadMaxima) {
        producto.cantidad++;
        (Alpine.store("precioCantidad") as InterfazCarrito).precio =
          producto.cantidad * producto.precio;
      }
    },
    reducirCantidad(idProducto: Number) {
      let producto = this.getProducto(idProducto);

      //console.log(producto);
      //console.log((Alpine.store("precioCantidad") as any).cantidad);
      //console.log(producto.cantidad);
      if (producto.cantidad > 1) {
        producto.cantidad--;
      } else {
        this.removeFromCarrito(producto);
        (Alpine.store("precioCantidad") as InterfazCarrito).cantidad -= 1;
      }

      (Alpine.store("precioCantidad") as InterfazCarrito).precio =
        producto.cantidad * producto.precio;
    },
  };
  Alpine.data("carritoProductoAlpine", () => carritoProductoAlpine);

  let cantidad = 0;
  let precio = 0;
  if (!Alpine.store("precioCantidad")) {
    carrito.map((e: InterfazCarrito) => {
      cantidad += 1;
      precio += e.cantidad * e.precio;
    });

    Alpine.store("precioCantidad", { cantidad: cantidad, precio: precio });
  }
</script>
