---

---

<div class="flex">
    <button>
        <div>
        Punto de recogida
        </div>
        <div>
Entrega de menor Impacto
        </div>
<div class="flex justify-between">
    <div>Entrega a una Vans Store</div>
    <div>Gratuito</div>
</div>
<div class="flex justify-between">
    <div>Entrega en un punto de recogida</div>
    <div>Gratuito</div>
</div>
    </button>
    <button>
        <div>
            entrega a domicilio
            </div>
        <div class="flex justify-between">
            <div> Standard Entrega</div>
            <div>Gratuito</div>
        </div>
    </button>
</div>

<div>Encuentra tu punto de recogida mas cercano</div>

<input type="text" placeholder="Código postal de facturación"/>
<div>o <span class="underline">Utiliar mi ubicación</span></div>

<div class="text-xl">Forma de pago</div>

<input type="radio" name="formaDePago" id="tarjeta">
<input type="radio" name="formaDePago" id="applePay">
<input type="radio" name="formaDePago" id="payPal">

<div>
    <input type="text">
    <input type="text">
    <input type="text">

</div>

<div class="text-xl">
    <div class="text-xs">* Campos obligatorios</div>

    <input type="text"/>
    <input type="text"/>
    <input type="text"/>
    <input type="text"/>
    <input type="text"/>
    <input type="text"/>
    <input type="text"/>
    <input type="text"/>
</div>

<input type="checkbox" name="factura"> <label for="factura">¿Necesitas factura?</label>

<input type="checkbox" name="ToS"> <label for="ToS">Al realizar este pedido, aceptas los <span class="underline">Términos y condiciones</span> <span class="underline">Política de Devoluciones</span>  y la <span class="underline">Política de privacidad</span> de Vans</label>

<button></button>