---
import { Interface } from "node:readline";
import TanstackTable from "../components/Dashboard/TanstackTable.tsx";
import Layout from "@layouts/Layout.astro";
import CarritoProductoContenedor from "@components/Carrito/CarritoProductoContenedor.astro";

let APIROCKET_ECOMMERCE_TOKEN = process.env.APIROCKET_ECOMMERCE_TOKEN;
if (!APIROCKET_ECOMMERCE_TOKEN) {
    APIROCKET_ECOMMERCE_TOKEN = import.meta.env.APIROCKET_ECOMMERCE_TOKEN;
}

let myQuery = `query MyQuery {
  Orders {
    correo
    codigoPedido
    cart
    sent
    id
    createdAt
    telephone
  }
}
`;

interface InterfazFecha{
    createdAt: string
}


async function fetchApirocket(query: String) {
    const options = {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            Authorization: `Bearer ${APIROCKET_ECOMMERCE_TOKEN}`,
        },
        body: JSON.stringify({ query }),
    };

    const data = await fetch("https://graphql.apirocket.io", options).then(
        (response) => response.json(),
    );
    //console.log(data);
    return data;
}

let data = (await fetchApirocket(myQuery)).data.Orders;
//console.log(data);


data.map((e: InterfazFecha) => {
    e.createdAt = new Date(Date.parse(e.createdAt)).toLocaleString(
        "es-ES",
    );
});

//let carrito = data.cart
//console.log(carrito)
---

<Layout>
    <TanstackTable client:load data={data} />



<div>

    <!-- <CarritoProductoContenedor>

    </CarritoProductoContenedor>
    
</div>

<button type="button" id="botonTest">botonTest</button>
 -->

</Layout>




<script>

let botonTest = document.querySelector('#botonTest');
botonTest?.addEventListener("click", recargar)
function recargar(){
        window.dispatchEvent(new CustomEvent('refreshCarrito'));

}

    //     let seleccion = [];
    // async function eventoDelegadoSeleccionar(e: Event) {
    //         let tr = (e.target as HTMLElement).closest("tr");
    //         if (!tr) {
    //             seleccion.map((fila: any) => {
    //                 fila.style.backgroundColor = "";
    //             });
    //             seleccion = [];
    //             return;
    //         }
    //         console.log("hola!");

    //         tr.style.backgroundColor = "lightblue";
    //         if (!seleccion.includes(tr)) {
    //             seleccion.push(tr);
    //         }
    //     }
    //
    // document.addEventListener("click", eventoDelegadoSeleccionar)

       interface InterfazCarrito {
    nombre: string;
  }


    function seleccionarObjeto(e: Event) {
        let tr = (e.target as HTMLElement).closest("tr");
        if (!tr) {
            return;
        }
        let datosExtra = tr.dataset.carrito;
        if (datosExtra==null){
            return
        }
        let datosExtraParseado = JSON.parse(datosExtra);
        let carritoRaw = datosExtraParseado.carrito;
        let carrito = JSON.parse(carritoRaw);
        console.log(carrito);

        mostrarDialog(tr.id, carrito);
    }

    function mostrarDialog(id: string, carrito: InterfazCarrito[]) {
        let dialog = document.createElement("dialog");

        document.querySelector("body")?.append(dialog);

        let cabecera = document.createElement("div");
        let carritoContenedor = document.createElement("div");
        let accionesContenedor = document.createElement("div");

        //Genero la cabecera

        let botonCarrito = document.createElement("button");
        let botonAcciones = document.createElement("button");

        botonCarrito.classList.add(
            "self-center",
            "px-8",
            "py-3",
            "font-semibold",
            "rounded",
            "dark:bg-violet-600",
            "dark:text-gray-50",
        );
        botonAcciones.classList.add(
            "self-center",
            "px-8",
            "py-3",
            "font-semibold",
            "rounded",
            "dark:bg-gray-200",
            "dark:text-black",
        );

        botonCarrito.textContent = "Carrito";
        botonAcciones.textContent = "Acciones";

        botonCarrito.addEventListener("click", () => {
            carritoContenedor.style.display = "block";
            accionesContenedor.style.display = "none";

            botonCarrito.classList.replace(
                "dark:bg-gray-200",
                "dark:bg-violet-600",
            );
            botonCarrito.classList.replace(
                "dark:text-black",
                "dark:text-gray-50",
            );

            botonAcciones.classList.replace(
                "dark:bg-violet-600",
                "dark:bg-gray-200",
            );
            botonAcciones.classList.replace(
                "dark:text-gray-50",
                "dark:text-black",
            );
        });

        botonAcciones.addEventListener("click", () => {
            carritoContenedor.style.display = "none";
            accionesContenedor.style.display = "block";
            botonAcciones.classList.replace(
                "dark:bg-gray-200",
                "dark:bg-violet-600",
            );
            botonAcciones.classList.replace(
                "dark:text-black",
                "dark:text-gray-50",
            );

            botonCarrito.classList.replace(
                "dark:bg-violet-600",
                "dark:bg-gray-200",
            );
            botonCarrito.classList.replace(
                "dark:text-gray-50",
                "dark:text-black",
            );
        });

        cabecera.append(botonCarrito, botonAcciones);
        dialog.append(cabecera);

        //Genero el carrito

        carrito.map((e) => {
            let entrada = document.createElement("div");
            entrada.textContent = e.nombre;
            carritoContenedor.append(entrada);
        });
        dialog.append(carritoContenedor);

        // Genero las acciones

        let botonEnviar = document.createElement("button");
        botonEnviar.classList.add(
            "self-center",
            "px-8",
            "py-3",
            "font-semibold",
            "rounded",
            "dark:bg-violet-600",
            "dark:text-gray-50",
        );
        botonEnviar.textContent = "enviar";

        botonEnviar.addEventListener("click", async () => {
            console.log("HOLAAA");
            botonEnviar.disabled = true
            const response = await fetch("/api/sendOrder", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({ id }),
            });
            const result = await response.json();
            console.log(result);
            if (result.success) {
                botonEnviar.textContent="Enviado con exito!";
                let fila = document.getElementById(id);
                if (fila==null){
                    return
                }
                let celda = fila.querySelector('#sent')
                if(celda==null){
                    return
                }

                celda.textContent="true";
            }
            else{
                botonEnviar.textContent="Error al enviarlo"
                botonEnviar.disabled = false

            
            }
        });

        accionesContenedor.append(botonEnviar);
        dialog.append(accionesContenedor);
        accionesContenedor.style.display = "none";


        //Boton cerrar
        let button = document.createElement("button");

        button.textContent = "cerrar";

        let pie = document.createElement("div");
        pie.classList.add("absolute", "bottom-0", "right-0", "left-0");
        pie.append(button);
        dialog.append(pie);

        button.classList.add(
            "self-center",
            "px-8",
            "py-3",
            "font-semibold",
            "rounded",
            "dark:bg-violet-600",
            "dark:text-gray-50",
        );
        button.id = "cerrarDialog";
        dialog.classList.add(
            "fixed",
            "inset-0",
            "m-auto",
            "w-3/4",
            "h-3/4",
            "text-center",
            "*:m-10",
            "relative",
        );
        dialog.showModal();

        button.addEventListener("click", (e) => {
            dialog.close();
        });
    }

    document.addEventListener("click", seleccionarObjeto);
</script>
